.button {
    margin-top: 0.5rem;
    height: 1.75rem;
    font-weight: 600;
    border-radius: 0.5rem;
    background: whitesmoke;
}

.button:hover {
    background: lightgray;
}

.full-width {
    width: 100%
}