<h4>
  <label for="email" class="compulsory">Email: </label>
  <input type="text" [(ngModel)]="email" class="folder-input" required="true"/>
  <br/><br/>
  <label for="folder" class="compulsory">UUID: </label>
  <input type="text" [(ngModel)]="folder" class="folder-input" required="true"/>
</h4>

<h4><button type="button" class="button" (click)="onLoading()" [disabled]="!folder">Check Upload Area</button></h4>
<h4 *ngIf="!toShow">The upload area entered by you doesn't exist, please enter a valid upload area</h4>

<div *ngIf="isValid">
  <ngx-dropzone (change)="onSelect($event)">
      <ngx-dropzone-label>Drag n' drop some files here, or click to select files</ngx-dropzone-label>
      <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
          <ngx-dropzone-label>{{ f.name }} - {{ f.size }} bytes</ngx-dropzone-label>
      </ngx-dropzone-preview>
  </ngx-dropzone>

  <button type="button" class="button" (click)="folder && files.length && onUpload()" [disabled]="!folder">Upload Files</button>
</div>

<div *ngIf="getUploadedFiles().length && isValid">
    <h3>Uploaded Files</h3>
    <table class="full-width">
        <tr *ngFor="let file of getUploadedFiles()">
            <td>{{ file.name }}</td>
            <td>
                <progress-bar [progress]="file.percentage"
                    [color-degraded]="{'0': '#007bff', '100': '#28a745'}"></progress-bar>
            </td>
        </tr>
    </table>

  <h4><button type="button" class="button" (click)="onPush()" [disabled]="!folder">Notify</button></h4>
</div>
